# Dependencies
node_modules/

# Build Outputs
dist/
build/

# Environment Variables
.env
.env.local

docs/todo.md
docs/demo_script.md

# Log Files
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db
